header.header
	.header__top
		.header__btn.header__btn--hamburger
			.header__btn-line.header__btn-line--top
			.header__btn-line.header__btn-line--center
			.header__btn-line.header__btn-line--bottom
		a(href="#").header__logo
			img(src="./img/logo_small.svg", alt="")
		.header__top-text Affiliate program		
		.header__cash 9 999 999.99 USD
		.header__btn.header__btn--user
			
	.header__bottom
		.header__bottom-text Статистика за сегодня
		.header__bottom-statistics.statistics
			.statistics__item
				.statistics__wrap-icon
					i.statistics__icon.icon-date
				.statistics__content
					.statistics__date 07.02.2019, чт
			.statistics__item
				.statistics__wrap-icon
					i.statistics__icon.icon-convert
				.statistics__content
					.statistics__date Переходы:
					.statistics__num 1000
			.statistics__item
				.statistics__wrap-icon
					i.statistics__icon.icon-registr
				.statistics__content
					.statistics__date Регистрация:
					.statistics__num 10 000
			.statistics__item
				.statistics__wrap-icon
					i.statistics__icon.icon-registr
				.statistics__content
					.statistics__date Первые депозиты:
					.statistics__num 100
			.statistics__item
				.statistics__wrap-icon
					i.statistics__icon.icon-income
				.statistics__content
					.statistics__date Доход за сегодня:
					.statistics__num.text-green 10 000 USD
		.header__bottom-btn
			img(src="./img/icon_touch.svg", alt="")




