.news
    .news__head
        .news__head-title
            i.news__head-icon.icon-news-sm
            | Последние новости
        a(href="#").news__head-link В раздел
    .news__row
        .news__col
            .news__col-btn 
                i.news__col-btn-icon.icon-close-sm
            .news__col-date 07 февраля 2019
            .news__col-title Супер акция ноября!!!
            .news__col-text Мы объявляем старт акции "Яблоки на снегу"!!...
            a(href="#").news__col-link Подробнее
        .news__col
            .news__col-btn 
                i.news__col-btn-icon.icon-close-sm
            .news__col-date 07 февраля 2019
            .news__col-title Супер акция ноября!!!
            .news__col-text Мы объявляем старт акции "Яблоки на снегу"!!...
            a(href="#").news__col-link  Подробнее
        .news__col
            .news__col-btn 
                i.news__col-btn-icon.icon-close-sm
            .news__col-date 07 февраля 2019
            .news__col-title Супер акция ноября!!!
            .news__col-text Мы объявляем старт акции "Яблоки на снегу"!!...
            a(href="#").news__col-link  Подробнее
    .news__social
        .news__social-title Подпишись
        .news__social-row
            a(href="#").news__social-link
                i.news__social-icon.icon-telegram
            a(href="#").news__social-link
                i.news__social-icon.icon-facebook
            a(href="#").news__social-link
                i.news__social-icon.icon-vk
            a(href="#").news__social-link
                i.news__social-icon.icon-twitter
            a(href="#").news__social-link.news__social-link--active
                i.news__social-icon.icon-instagram
            a(href="#").news__social-link
                i.news__social-icon.icon-messanger