$font-path : '../fonts/';

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    src:  url('#{$font-path}OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
          url('#{$font-path}OpenSans/OpenSans-Regular.woff') format('woff'), 
          url('#{$font-path}OpenSans/OpenSans-Regular.woff2') format('woff2'),
          url('#{$font-path}OpenSans/OpenSans-Regular.ttf') format('truetype'),
          url('#{$font-path}OpenSans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    src:  url('#{$font-path}OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
          url('#{$font-path}OpenSans/OpenSans-Bold.woff') format('woff'), 
          url('#{$font-path}OpenSans/OpenSans-Bold.woff2') format('woff2'),
          url('#{$font-path}OpenSans/OpenSans-Bold.ttf') format('truetype'),
          url('#{$font-path}OpenSans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

$base-font: 'Open Sans', sans-serif;
