@mixin rectangle(){
    content: '';
    position: absolute;
    top: 0;
    opacity: 0.7;
    transform: skew(-16deg);
    height: 100%;
    width: 100%;
    transform-origin: 0 100%;
    z-index: -1;
}
    