html{
	font-size: 62.5%;
	line-height: 1.5;
}
body,html{
   height: 100%;
}
.main-wrap{
    display: flex;
    width: 100%;
    font: 1.6rem/2.2rem $base-font;
	margin: 0 auto;
    overflow: hidden;
    color: white;
	background: white;
}
.container{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
}

.main-content{
    display: flex;
    flex-direction: column;
    padding-top: 6.1rem;
    width: 100%;
    min-width: 0;
    padding-left: 24rem;
    @include laptop{
        padding-left: 0;
    }
    @include laptop{
        padding-top: 5rem;
    }
    @include mobile{
        padding-top: 8.2rem;
    }
    &__wrap{
        display: flex;
        padding: 1.3rem .6rem .5rem;
        background: #F3F3F3;
        @include desktop{
            flex-direction: column;
        }
        @include mobile{
            background: white;
        }
    }
}

.input{
    border: .1rem solid $clr-gamma;
    height: 3rem;
    box-sizing: border-box;
    font-size: 1.2rem;
    max-width: 8rem;
    line-height: 3rem;
    padding: 0 1.5rem 0 1.6rem;
    @include mobile{
        line-height: 2.5rem;
        height: 2.5rem;
        padding: 0 .3rem;
        font-size: 1rem;
        max-width: 4.8rem;
    }
    &--radius-right{
        border-radius: 0 .3rem .3rem 0;
    }
    &--radius-left{
        border-radius: .3rem 0 0 .3rem;
    }
    &::placeholder{
        color: black;
        font-family: 'Open Sans';
        font-size: 1.2rem;
        @include mobile{
            font-size: 1rem;
        }
    }
}

.text-green{
    color: #00B195;
}


.logo{
    display: inline-flex;
}

.info{
    &__row{
        display: flex;
        align-items: center;
    }
    &__item{
        display: flex;
        padding: .3rem .8rem;
        &-flag{
            display: inline-flex;
        }
        &-icon{
            font-size: 1.8rem;
            color: $clr-beta;
        }
        &-name{
            max-width: 7.7rem;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        &--indent{
            padding-right: .3rem;
        }
        &:not(:last-child){
            border-right: .1rem solid $clr-beta;
        }
    }
    &__cash{
        padding: 1rem .8rem 0 .8rem;
        font-size: 2.4rem;
        text-transform: uppercase;
    }
}

.person__title{
    font-size: 1.2rem;
    font-weight: bold;
}
.person__text{
    font-size: 1.2rem;
    margin-top: 1rem;
}

.referal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__item{
        text-align: center;
        .icon-referal-one{
            font-size: 3.5rem;
        }    
        .icon-referal-two{
            font-size: 2.8rem;
        }
    }
    &__cash{
        font-size: 2.4rem;
    }
    &__text{
        margin-top: .6rem;
    }
}

.banner__item{
    height: 30rem;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}







